:root {
  --joinus_primary_color: rgb(121, 189, 20);
}

.your-duty-points li i.icons,
.our-duty-points li i.icons {
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: var(--joinus_primary_color);
}

.your-duty-points li,
.our-duty-points li {
  margin-left: 15px;
  text-align: center;
  list-style: none;
  font-size: 1.3rem;
}

ul.your-duty-points,
ul.our-duty-points {
  padding-left: 0px;
}

.card {
  padding: 50px 20px 70px 20px;
}

.card-left, 
.card-right{
  border: 2px solid #ffffff;
  border-radius: 20px;
  width: 80%;
  height: auto;
  color: #ffffff;
  padding: 30px 20px;
  margin-left: 10%;
  background-image: linear-gradient(to bottom, #0d0b0b, #6d6860);
}

.join-para {
  font-size: 1.2rem;
  padding: 50px 20px 10px 20px;
}

.hr-1 {
  width: 50%;
  margin-left: 20%;
}

.heading-your-duty,
.heading-our-duty {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 20px; 
  margin-bottom: 15px;
} 

.covertext {
  position: absolute;
  top: 200px;
  left: 0px;
  right: 0px;
}

.title {
  font-family: proda;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.cover {
  display: flex;
  align-items: center;
  position: relative;
  background: no-repeat center/cover;
  height: 390px;
  margin-bottom: 20px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 390px;
}

.hero .container-fluid {
  z-index: 10;
}

.sign-para {
  padding-bottom: 70px;
}

.typedtext {
  color: #333;
  font-weight: bold;
  position: absolute;
  padding-bottom: 30px;
  text-align: center !important;
  margin-left: 30%;
}

.sign-para p {
  margin-top: 85px;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}

.sign-para button {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid var(--joinus_primary_color);
  background-color: transparent;
  color: var(--joinus_primary_color);
}

.sign-para button:hover {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: var(--joinus_primary_color);
  color: #ffffff;
}